body,html {
  background-color: rgb(34, 34, 34);
  color: antiquewhite;
  width: 640px;
  height: 960px;
  margin: 0;
}

#root {
  width: 640px;
  height: 960px;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #312C30;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #C22E2C;
  }
}

.Page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #C22E2C;
  width: 640px;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 5rem;
  padding: 0;
  margin: 0%;
}

.Link {
  text-decoration: none;
  color: #FFD157;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0 1rem;
}

.Link h1 {
  margin: 0;
}

.PageContent {
  width: 100%;
  height: 880px;
  margin-top: 5rem;
  overflow-y: scroll;
}

.SubPage {
  height: 880px;
}

.LowerRight {
  display: flex;
  flex-direction: column;
  text-align: right;
  overflow: hidden;
}

.Spacer {
  flex-grow: 1;
}

.LeftAlign {
  text-align: left;
}

.Hello h2{
  margin: 0;
}

.ActiveTab {
  background-color: #747bff;
}
