:root {
  --bg-color: #1e212b;
  --forefront-color: white;
  --tertiary-color: #5fb2f7;
  --red-color: white;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Tahoma";
}

h1 {
  text-align: center;
}

main {
  width: 640px;
  height: 960px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  opacity: 75%;
}

p {
  font-size: 1.5rem;
}

input, select {
  border-radius: .25rem;
  border: none;
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}

/* Navbar styling Start */
.navbar {
  width: 100%;
  height: 125px;
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-top: 1px solid var(--forefront-color);
  position: relative;
  z-index: 10;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.navbar li {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar svg {
  display: block;
  margin: 0 auto;
}

.navbar p {
  display: block;
  padding: 0px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar a svg,
.navbar a p {
  color: var(--forefront-color);
  stroke: var(--forefront-color);
  transition: all 0.2s ease;
  text-decoration: none;
}

.navbar a.active svg,
.navbar a.active p {
  color: var(--tertiary-color);
  fill: var(--tertiary-color);
  stroke: var(--tertiary-color);
}

/* Navbar styling end */

/* Page styling start */
.page {
  display: block;
}

.page-container {
  width: 100%;
  height: 825px;
  border: 1px solid var(--bg-color);
  background-color: var(--bg-color);
  color: white;
  overflow: auto;
}
/* Page styling end */

/* Workout page start */
.workout-page-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
}

.finish-workout-button {
  display: block;
  font-size: 2rem;
  width: 150px;
  padding: 13px;
  border-radius: 8px;
  background-color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
  color: var(--bg-color);
  font-weight: bolder;
}

.finish-workout-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.exercises-container {
  margin-top: 16px;
  height: 675px;
  overflow-y: scroll;
}

.exercise-container {
  border-bottom: 1px solid var(--forefront-color);
  margin: 0 13px;
  margin-bottom: 13px;
}

.exercise-selection-container {
  margin-bottom: 16px;
}

.exercise-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
  height: 50px;
}

.exercise-title-input {
  margin-left: 16px;
  border: 1px solid var(--forefront-color);
  background: none;
  border-radius: 8px;
  color: var(--forefront-color);
  font-weight: bold;
}

.remove-exercise-button {
  border-radius: 8px;
  background-color: var(--red-color);
  border: 1px solid var(--red-color);
  color: var(--bg-color);
  width: 125px;
  font-weight: bold;
}

.exercise-title-container {
  display: flex;
  flex-direction: row;
}

.lbs-reps-remove-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.lbs-reps-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.exercise-sets-container {
  margin: 16px 16px;
}

.set-row {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.set-row-half-two {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lbs-reps-input-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lbs-input,
.reps-input {
  width: 60px;
  height: 3rem;
  font-size: 2rem;
  background: none;
  border: 2px solid var(--forefront-color);
  border-radius: 8px;
  color: var(--forefront-color);
  outline: none;
  box-shadow: none;
}

.lbs-input:hover,
.lbs-input:focus,
.reps-input:hover,
.reps-input:focus {
  border-color: var(--tertiary-color);
}

.remove-set-button {
  border-radius: 8px;
  background-color: var(--forefront-color);
  border: 2px solid var(--red-color);
  color: var(--bg-color);
  font-size: 1.5rem;
  width: 125px;
  font-weight: bold;
}

.add-set-button {
  display: block;
  width: 608px;
  padding: 8px;
  margin: 0 auto;
  border-radius: 8px;
  background: none;
  font-size: 1.5rem;
  color: var(--tertiary-color);
  border: 3px solid var(--tertiary-color);
  font-weight: bolder;
}

.dropdown-panel {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.dropdown-panel.open {
  height: auto;
}

.dropdown-toggle {
  border: none;
  color: var(--forefront-color);
  background: none;
  font-size: 3rem;
}

#pause-timer-button {
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  width: 150px;
  background-color: var(--forefront-color);
  border: 2px solid var(--red-color);
  color: var(--bg-color);
  font-size: 2rem;
  padding: 13px;
  font-weight: bold;
}

#notes-textarea {
  width: calc(100% - 26px);
  display: block;
  margin: 0 auto;
  border: 3px solid var(--forefront-color);
  background: none;
  border-radius: 8px;
  font-size: 1.5rem;
  font-family: "SF Pro";
  height: fit-content;
  color: var(--forefront-color);
  outline: none;
  box-shadow: none;
}

#notes-textarea:hover,
#notes-textarea:focus {
  border: 3px solid var(--tertiary-color);
}
/* Workout page end */

/* Progress page start */
.goal-row {
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 13px;
}

.workout-history {
  border: 1px solid red;
  height: 300px;
  overflow: scroll;
  overflow-y: scroll;
}
.workout-history-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}
.caret {
  font-size: 3rem;
}

/* Progress page end */

/* Profile Page */
#profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#profile h1 {
  margin-bottom: 0;
}

#basic-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

#profile-picture {
  max-width: 12.5rem;
}

#detailed-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 0%;
  padding-top: 0;
}

#explanation-blurb {
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: .5rem;
  margin: 0;
}

.info-row h2 {
  margin: .5rem;
  width: 12.5rem;
}

.info-row p {
  margin: .65rem;
} 

.info-row input {
  width: 25rem;
  height: 1.75rem;
  text-align: right;
  font-size: 1.5rem;
}

.info-row select {
  width: 25.5rem;
  height: 2rem;
  text-align: right;
  font-size: 1.5rem;
}

.info-label {
  padding: 0rem 1.5rem;
}

.info-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  color: #1e212b;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  position: absolute;
  top: 25rem;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
/* End of profile page */

/* Start of nutrition page */

.nutrition-input {
  height: 1.75rem;
}

.ni1{
  height: 1.5rem;
  width: 16rem;
}

.ni2{
  height: 1.5rem;
  width: 10rem;
}

/* End of nutrition page */